@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

#loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--body_background);
    z-index: 1000;
    text-align: center;
    left: 0;
    top: 0;
  }
  #loader .biglogo{
    margin-top: calc((100vh - 300px) / 2);
  }
  .biglogo img{
    width: 120px;
  }
  .biglogo .logo_text{
        font-size: 72px;
  }
  .spin {
    border: 13px solid var(--bg-color);
    border-radius: 50%;
    border-top: 13px solid #269094;
    border-right: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid transparent;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 100px;
}
  @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  .transition{   
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;  
    -moz-transition: opacity .5s ease-in-out;   
    opacity: 0;
  }
*{
    margin: 0;
}
*::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #afafaf;
 }
 
 *::-webkit-scrollbar
 {
     width: 12px;
     background-color: #212025;
     border-radius: 5px;
 }
 
 *::-webkit-scrollbar-thumb
 {
     border-radius: 5px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #212025;
 }
body{
    background-color: var(--body_background);
    font-family: 'Poppins', sans-serif;
    transition: .5s;
}
a{
    color: inherit;
    text-decoration: none;
}
.logo{
    float: left;
    margin: 40px;
    margin-right: calc(100% - 540px);
}
.logo_text{
    font-family: 'Rochester', cursive;
    display: inline-block;
    font-size: 35px;
    margin-left: 25px;
    vertical-align: top;
    margin-top: 23px;
    color: var(--card_text_color);
}
.Hamburger_icon{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-right: 15px;
    text-align: center;
    width: 60px;
    height: 55px;
    background: none;
    border: none;
    border: 2px solid #2B272F;
    background-color: #2B272F;
    padding-top: 5px;
    padding-left: 2px;
    float: right;
    margin: 40px;
    margin-left: 0;
    transition: .3s;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin-top: 50px;
}
.Hamburger_icon:hover{
    background-color: #212025;
    border: 2px solid rgb(66 57 70 / 30%);
}
.nightmode_icon{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 60px;
    height: 55px;
    background: none;
    border: none;
    border: 2px solid #2B272F;
    background-color: #2B272F;
    padding-top: 5px;
    padding-left: 2px;
    float: right;
    margin: 40px;
    transition: .3s;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin-right: 15px;
    margin-top: 50px;
}
.nightmode_icon:hover{
    background-color: #212025;
    border: 2px solid rgb(66 57 70 / 30%);
}
.transition{   
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;  
    -moz-transition: opacity .5s ease-in-out;   
    opacity: 0;
}
.resp_nav_dropdown{
    text-align: left;
    background-color: rgb(33, 32, 37);
    position: absolute;
    right: 40px;
    padding: 13px 20px;
    border-radius: .5rem;
    color: white;
    display: none;
    margin-top: 120px;
    box-shadow: -15px 24px 42px -13px rgb(0 0 0 / 75%);
    -webkit-box-shadow: -15px 24px 42px -13px rgb(0 0 0 / 75%);
    -moz-box-shadow: -15px 24px 42px -13px rgba(0,0,0,0.75);
    z-index: 15;
}
.resp_nav_dropdown li, .resp_withdropdown {
    display: block;
    padding: 13px 30px;
    font-size: 1.2rem;
    border: 3px solid transparent;
    cursor: pointer;
    margin-bottom: 5px;
    
}
.resp_withdropdown{
    padding-right: 20px;
}
.resp_nav_dropdown .bxstyle{
    margin-left: 45px;
}
.resp_withdropdown_dropdown{
    margin-top: 15px;
    display: none;
}
.resp_withdropdown_dropdown li{
    padding: 5px 12px;
    font-size: 17px;
}
.resp_withdropdown_dropdown_active, .resp_withdropdown, .resp_nav_dropdown li{
    border-radius: .5rem;
}
.resp_withdropdown_dropdown_active, .resp_withdropdown:hover, .resp_nav_dropdown li:hover{
    transition: .3s;
    background-color: #269094;
    color: white;
}
.withdropdown{
    padding-right: 15px !important;
}
.rotate{
    transform: rotate(180deg);
}
.bxstyle{
    font-size: 25px;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}
.filter{
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    overflow-x: hidden;
}
.con {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: initial;
    display: inline-block;
    background: green;
    max-height: 1200px;
    border-radius: 15px;
    height: 70vh;
}
.left {
    height: 100%;
    display: inline-block;
    width: calc(100% - 500px);
    max-width: 1100px;
    float: left;
}
.right img {
    width: 400px;
    border-radius: 10px;
}
.right {
    height: 250px;
    display: inline-block;
    float: right;
    width: 400px;
    margin-top: 140px;
    height: inherit;
    margin-right: 100px;
    float: right;
}
.cta{
    padding: 15px 35px;
    background-color: #269094;
    color: white;
    display: table;
    margin-left: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 19px;
    float: left;
}
.donate{
    background-color: #269094;
    color: white;
}
.cta:hover, .donate:hover{
    background-color: #20777a !important;
    color: white;
}
.main_con {
    width: 80%;
    background: var(--card_background);
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1500px;
    padding-bottom: 100px;
    border-radius: 10px;
}
.hero_right_con{
    display: inline-block;
}
.hero_title {
    font-size: 72px;
    padding-top: 100px;
    font-weight: bold;
    color: var(--card_text_color);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}
.hero_text {
    margin-top: 1px;
    font-size: 21px;
    font-weight: lighter;
    color: var(--small_title_color);
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.active{
    background-color: #269094 !important;
    border: 2px solid #269094 !important;
    color: white;
}
@media screen and (max-width: 1800px) {
    .main_con{
        background: var(--card_background);
        position: unset;
        margin: 0 auto;
        padding-bottom: 150px;
        margin-top: 180px;
        padding-top: 1px;
    }
    .right{ 
        display: block;
        height: inherit;
        margin-right: 0;
        float: none;
        margin: 0 auto;
        margin-top: 150px;
        width: 500px;
    }
    .right img{
        width: 500px;
    }
    .left {
        height: 100%;
        display: unset;
        width: 100%;
        max-width: unset;
        float: none; 
    }
    .cta {
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 1300px) {
    .main_con{
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .right, .right img{
        width: 400px;
    }
    .right{
        margin-top: 100px;
    }
    .hero_title {
        font-size: 52px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .hero_text {
        margin-top: 1px;
        font-size: 19px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .cta {
        margin-left: 50px;
    }
    .main_con {
        width: 100%;
    }
    .cta {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 569px) {
    .logo_text{
        display: none;
    }
}
@media screen and (max-width: 569px) {
    .right{
        margin-top: 50px;
    }
    .right, .right img {
        width: 300px;
    }
    .hero_title {
        font-size: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 50px;
    }
    .hero_text {
        font-size: 17px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .cta {
        margin-bottom: 0;
        margin-left: 25px;
    }
}